
<nav class="navbar navbar-light bg-light fondo-violeta d-flex justify-content-center">
    <%= image_tag "logo_odontocheques_blanco.png" %>
</nav>

<div class="container my-5 py-5 ">

  <div class="row ">

    <div class="col-12 col-lg-5 ">

        <div class="card-general card-usuario">
          <%= image_tag "icon_odontologo.png" %>
          <div class="" >
            <h4> Bienvenido <%= @user.first_name.capitalize;  %></h4>
          </div>
          <p><%=@user.first_name.capitalize %> <%=@user.last_name.capitalize %></p>
          <p>Matricula número : <%=@user.registration_number %></p>
          <p><%=@user.province.capitalize %></p>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        </div>
        <div class=""></div>

    </div>
    <div class="col-12 col-lg-7">
        <div>
          <h2 class="text-center mb-5">Elija una marca</h2>
        </div>
        <div class="d-flex justify-content-center align-items-center">
        <% @brands.each do |brand| %>
            <span class="mx-3">
             <%= link_to brand.name, brand_path(brand.id), class: "btn btn-warning" %>
            </span>
             <% end %>
        </div>
    </div>

    </div>
  </div>
</div>
